<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.FoodMapper">


    <sql id="queryList">
        id,name,food_describe,sale,category_id,cover,price,score,status,create_time,update_time,is_deleted
    </sql>
    <select id="getFoodAllBySale" resultType="com.ruoyi.web.domain.Food">
        select
        <include refid="queryList"/>
        from t_food
        order by sale desc limit 9
    </select>


</mapper>